<carousel [showIndicators]="false">
  <slide *ngFor="let slide of slides; index as i">
    <img [src]="slide.img" [alt]="'goulelhom\'s presentation slide°' + (i + 1)">
    <div class="carousel-caption">
      <div *ngFor="let c of slide.caption; index as j">
        <h3 *ngIf="j === 0; else captionElseBlock">
          {{ c }}
        </h3>
        <ng-template #captionElseBlock>
          <p>
            {{ c }}
          </p>
        </ng-template>
      </div>
    </div>
  </slide>
</carousel>

<button type="button" class="btn btn-primary btn--floating btn--floating--centered" (click)="openModal(template)">
  <svg class="icon icon--arrow-up">
    <use xlink:href="/assets/icon/symbol-defs.svg#icon-arrow-up"></use>
  </svg>
</button>

<ng-template #template>
  <!-- <div class="modal-header"></div> -->
  <div class="modal-body">
    <div class="flex-embed flex-embed--16by9">
      <div class="flex-embed__content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FzwZTOtzGrg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>w
      </div>
    </div>
  </div>
</ng-template>
